body{
    background-image: url(back.png);
    background-size: cover;
    /*background-attachment: fixed;*/
}

.container {
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    margin: 0.1% 0.1% !important;
}

.card-deck{
    align-items: center;
}

.infected {
    /*margin: ;*/
    color: rgba(255, 0, 0,0.5); 
}
.susceptible {
    color: rgba(0, 0, 255,0.5); 
}
.recovered {
    color: rgba(0, 255, 0,0.5);
}

.dead {
    color: 	rgb(128,128,128);
}

#summary-block {
    flex-direction: row;
}

.fa-color {
    color: red;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

